.status_bar{
	background-color: #565656;
	height: 0.694444rem;
}
.header{
	background-color:#1ab394;
	position: relative;
	top: -0.005556rem;
	height: 1.333333rem;
	padding: 0;
}
.header span{
	font-family: "microsoft yahei";
	font-size: 0.5rem;
	color: #F2F2F2;
	display: inline-block;
	margin-top: 0.425925rem;
	position: relative;
	margin-left: 0.555555rem;
}
#header_img1{
	height: 0.527777rem;
	display: inline-block;
	margin-left: 0.555555rem;
	margin-top: 0.398148rem;
}
#header_img2{
	height: 0.509259rem;
	margin: 0.407407rem 0.555555rem 0 0;
}
.communication_left_profile{
	height: 1.111111rem;
	margin: 0.555555rem 0.277777rem 0 0.555555rem;
}
.communication_left_words{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size: 0.444444rem;
	color: #555555;
	background-color: #FFFFFF;
	padding: 0.333333rem 0.37037rem 0.342592rem 0.37037rem;
	border-radius: 0.416666rem;
	margin-top: 0.555555rem;
	word-break: break-all;
	white-space: pre-wrap;
	word-wrap: break-word;
	
}
.communication_right_profile{
	height: 1.111111rem;
	float: right;
	margin: 0.555555rem 0.555555rem 0 0.277777rem;
}
.communication_right_words{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size: 0.444444rem;
	color: #FFFFFF;
	background-color: #FFFFFF;
	padding: 0.333333rem 0.37037rem 0.342592rem 0.37037rem;
	border-radius: 0.416666rem;
	margin-top: 0.555555rem;
	float: right;
	background-color: #1AB394;
	word-break: break-all;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#bottom{
	height: 1.333333rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FFFFFF;
}
#message{
	width: 61.20068%;
	height: 0.777777rem;
	display: inline-block;
	margin: 0.277777rem 0.37037rem 0.277777rem 0.555555rem;
	font-family: "microsoft yahei";
	font-size: 0.444444rem;
	color: #555555;
	border-bottom: 0.018518rem solid #f6f6f6;
}
#bottom_img1,#bottom_img2{
	display: inline-block;
	width: 1.388888rem;
	height: 100%;
	float: right;
}
#bottom img{
	height: 0.833333rem;
	display: inline-block;
	margin-top: 0.25rem;
}
