body,
			html {
				background-color: #f2f2f2;
			}
			
			.mui-bar-nav~.mui-content {
				padding-top: 13%;
				margin-bottom: 1.481rem;
			}
			
			.mui-content {
				background-color: #f2f2f2;
			}
			
			.head_pic {
				margin-top: 1.787rem;
				margin-left: 3.611rem;
			}
			
			.head_box {
				width: 2.5rem;
				height: 2.5rem;
				background-color: rgba(220, 220, 220, .5);
				border-radius: 45px;
				overflow: hidden;
			}
			
			.head_box img {
				width: 100%;
				height: 100%;
			}
			
			.mui-input-group {
				margin-top: 1.25rem;
				margin-left: 0.925rem;
				width: 7.731rem;
				height: auto;
				position: static;
				background-color: #f2f2f2;
			}
			
			.mui-input-group:after {
				position: static;
				height: 0rem;
			}
			
			.mui-input-row {
				margin-top: 0.768rem;
				width: 7.731rem;
			}
			
			.mui-input-row label {
				padding-left: 27px;
				font-family: 'microsoft yahei';
				color: #333333;
				font-size: 0.444rem;
			}
			
			.mui-btn {
				margin-left: 0.925rem;
				margin-top: 0.814rem;
				width: 7.731rem;
				height: 1.111rem;
				background-color: #1ab394;
				font-family: 'microsoft yahei';
				font-size: 0.5rem;
				color: #FFFFFF;
				border-radius: 5px;
			}
			
			.mui-btn-block {
				padding: 5px 0;
			}
			
			.login-forget {
				margin-top: 0.509rem;
			}
			
			.forget {
				margin-left: 1.111rem;
				font-family: "microsoft yahei";
				font-size: 0.388rem;
				color: #555555;
			}
			
			.login {
				margin-left: 4.083rem;
				font-family: "microsoft yahei";
				font-size: 0.388rem;
				color: #555555;
			}
			
			.oauth-area {
				margin-top: 2.24rem;
			}
			
			.notice {
				width: 100%;
			}
			
			.line {
				margin-bottom: 3px;
				border: solid 0.5px #bebebe;
				background-color: #BEBEBE;
				width: 37%;
				display: inline-block;
			}
			
			.login-notice {
				width: 23%;
				display: inline-block;
				text-align: center;
			}
			
			.login-p {
				font-family: "microsoft yahei";
				font-size: 0.333rem;
				display: inline-block;
				color: #555555;
			}
			
			.login-place {
				margin-top: 0.453rem;
			}
			
			.qq_pic {
				margin-left: 1rem;
				display: inline-block;
			}
			
			.qq_box {
				width: 1.5rem;
				height: 1.5rem;
				background-color: rgba(220, 220, 220, .5);
				border-radius: 45px;
				overflow: hidden;
			}
			
			.qq_box img {
				width: 100%;
				height: 100%;
			}
			
			.weixin_pic {
				margin-left: 1.5rem;
				display: inline-block;
			}
			
			.weixin_box {
				width: 1.5rem;
				height: 1.5rem;
				background-color: rgba(220, 220, 220, .5);
				border-radius: 45px;
				overflow: hidden;
			}
			
			.weixin_box img {
				width: 100%;
				height: 100%;
			}
			
			.weibo_pic {
				margin-left: 1.5rem;
				display: inline-block;
			}
			
			.weibo_box {
				width: 1.5rem;
				height: 1.5rem;
				background-color: rgba(220, 220, 220, .5);
				border-radius: 45px;
				overflow: hidden;
			}
			
			.weibo_box img {
				width: 100%;
				height: 100%;
			}
			
			.qq_pic p {
				margin-top: 0.185rem;
				text-align: center;
				font-family: "microsoft yahei";
				font-size: 0.333rem;
				color: #555555;
			}
			
			.weixin_pic p {
				margin-top: 0.185rem;
				text-align: center;
				font-family: "microsoft yahei";
				font-size: 0.333rem;
				color: #555555;
			}
			
			.weibo_pic p {
				margin-top: 0.185rem;
				text-align: center;
				font-family: "microsoft yahei";
				font-size: 0.333rem;
				color: #555555;
			}
			
			input::-webkit-input-placeholder,
			textarea::-webkit-input-placeholder {
				color: #BEBEBE;
				font-size: 0.444rem;
			}