*{
	padding: 0rem;
	margin: 0rem;
}
html{
	width: 100%;
}
input::-webkit-input-placeholder {
   /* placeholder颜色  */
  	color: #888888;
/* placeholder字体大小  */
  	font-size: 0.444rem;
 /* placeholder位置  text-align: right;*/
    
   }
.tittle{
	width: 100%;
	height: 1.333rem;
	background-color: #1AB394;
}
.tittle img{
	margin-left: 0.555rem;
	width: 0.305rem;
	height: 0.527rem;
	margin-top: 0.398rem;
	
}
.tittle a{
	margin-left:3.638rem ;
	margin-top: 0.425rem;
	font-size: 0.5rem;
	color: #FFFFFF;
	font-family: "microsoft yahei";
}
/*====================================================================*/
.register-{
	height: 1.388rem;
	width: 100%;
	background-color: #FFFFFF;
}
.register- label{
	display: block;
	height: 0.435rem;
	width: 1.388rem;
	float: left;
	margin-left: 0.564rem;
	margin-top: 0.472rem;
	font-size: 0.444rem;
}
.register-m input{
	width: 6.944rem;
	height: 1.388rem;
	margin-left: 0.425rem;
	border: none;
}
.register-y input{
	width: 4.544rem;
	height: 1.388rem;
	margin-left: 0.425rem;
	border: none;
}
.register-y button{
	margin-top: 0.277rem;
	width: 2.341rem;
	height: 0.833rem;
	font-size: 0.342rem;
	background-color: #1AB394;
	border-radius: 0.138rem;
	border: 0rem;
	color: white;
}
/*====================================================================*/
.next{
	background-color: #1AB394;
	width: 7.731rem;
	height: 1.111rem;
	margin-top: 1.388rem;
	margin-left: 1.138rem;
	color: #FFFFFF;
	font-size: 0.444rem;
	font-family: "microsoft yahei";
	border-radius: 0.277rem;
	border: 0rem;
}
