	
			/*导航栏*/
			
			.header_search_college{
				height: 44px;
				background-color: #1AB394;
				padding: 0px;
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.back{
				height: 44px;
				width: 15%;
				display: flex;
				align-items: center;
			}
			.return {
				width: 0.305rem;
				height: 0.527rem;
				overflow: hidden;
				margin-left: 0.555rem;
			}
			
			