.header_top{
	background-color: #565656;
	height: 0.694444rem;
}
.header_center{
	background-color:#1ab394;
	position: relative;
	top: -0.005556rem;
	height: 1.333333rem;
	padding: 0;
	text-align: center;
}
.header_center span{
	font-family: "microsoft yahei";
	font-size: 0.5rem;
	color: #F2F2F2;
	display: inline-block;
	margin-top: 0.425925rem;
	position: relative;
}
.header_center img{
	height: 0.527777rem;
	display: inline-block;
	margin-left: 0.555555rem;
	margin-top: 0.398148rem;
	float: left;
}
#header_bottom_left{
	width: 50%;
	height:1.111111rem;
	float: left;
}
#header_bottom_right{
	width: 50%;
	height: 1.111111rem;
	float: right;
}
#header_bottom_part1{
	float: left;
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
}
#header_bottom_part2{
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
	color: #1AB394;
	border-bottom: 0.062555rem solid #1AB394;
}
#header_bottom_part3{
	display:inline-block;
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
}
#header_bottom_part4{
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
}
.header_bottom span{
	display: inline-block;
	padding-top: 0.37037rem;
	font-family: "microsoft yahei";
	font-size: 0.388888rem;
	background-color: #FFFFFF;
}
#content_part1{
	display: inline-block;
	margin-top: 0.277777rem;
	background-color: #FFFFFF;
	width: 90%;
	margin-left:5%;
	border-radius: 0.146296rem;
	border-right: 0.192592rem #ed5565 solid;
}
.content_left{
	display: inline-block;
	padding-top: 0.37037rem;
	padding-left: 0.555555rem;
	width: 1.851851rem;
}
.content_middle_nickname{
	display: inline-block;
	margin-top: 0.444444rem;
	margin-left:0.314814rem;
}
.content_middle span{
	font-family: "microsoft yahei";
	font-size: 0.388888rem;
	color:#333;
}
.content_middle_nickname img{
	width: 0.388888rem;
}
.content_middle_time{
	font-family: "microsoft yahei";
	font-size: 0.333333rem;
	color: #999;
	padding-left: 2.111111rem;
	padding-top: 0.138888rem;
}
#content_part1_exception1{
	display: inline-block;
	margin-top: -1.333556rem;
	margin-right: 0.5rem;
	float: right;
	font-size: 0.388888rem;
	color: #ED5565;
	font-family: "microsoft yahei";
}
.content_task_words{
	font-family: "microsoft yahei";
	font-size: 0.388888rem;
	color: #555555;
	display: inline-block;
	margin-top: 0.379629rem;
	margin-left: 0.444444rem;
	width: 79%;
}
.content_task_reward{
	display: inline-block;
	width: 14%;
}
.content_bottom{
	width: 100%;
	margin-bottom:0.444444rem;
}
.content_bottom_description{
	font-family: "microsoft yahei";
	font-size: 0.333333rem;
	color: #999999;
	display: inline-block;
	margin-top: 0.666666rem;
	margin-left: 0.444444rem;
	width: 69%;
}
#content_bottom_button1{
	display: inline-block;
	border: 0.042592rem solid #ED5565;
	color: #ED5565;
	font-family: "microsoft yahei";
	font-size: 0.333333rem;
	border-radius: 1.046296rem;
	padding: 0.048148rem 0.166666rem;
}