.mui-bar-tab{
	background-color: #FFFFFF;
}
.mui-bar-tab{
	     -webkit-box-shadow:none; 
     box-shadow: none; 
}
.main{
	width: 0.574rem;
	height: 0.583rem;
	overflow: hidden;
}
.news{
	width: 0.555rem;
	height: 0.555rem;
	overflow: hidden;	
}
.skills
{
	width: 0.574rem;
	height: 0.574rem;
	overflow: hidden;
}
.my{
	width: 0.527rem;
	height: 0.546rem;
	overflow: hidden;
}
.box{
	margin-top: 7%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: #1AB394;
}
